@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Keite - Learning MVC</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Keite University</h2>
        <p>
            Keite Universidade é uma aplicação simples que demonstra
            como utilizar o Entity Framework 6 e também o ASP.NET MVC 5
        </p>
    </div>    
    <div class="col-md-6">
        <h2>Aproveite os vídeos sobre tecnologia Microsoft</h2>
        <p>Você pode ver muito mais sobre tecnologia acessando o cando no youtube Keite.Net</p>
        <p><a class="btn btn-default" href="http://www.google.com.br">Clique aqui para ver os vídeos</a></p>
    </div>
</div>